<div class="all-categories">
  <div class="container">
      <h2 class="text-center mt50"><strong>Handpicked UI inspiration</strong></h2>
      <%= render "/layouts/alerts" %>
      <br />
      <div class="pull-left">
         <h4>All Categories(6195)</h4>
      </div>
      <div class="pull-right">
         <div class="dropdown">
            <button class="btn btn-default dropdown-toggle custombtn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Latest items
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
               <li><a href="#">Action</a></li>
               <li><a href="#">Another</a></li>
               <li><a href="#">Something</a></li>
            </ul>
         </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
         <div class="col-sm-4 col-md-4">
            <div class="post">
               <div class="post-img-content">
                  <!-- -->
                  <span class="post-title"><b>+</b></span>
               </div>
               <div class="content">
                  <div>
                     <a href="">Landing page by designer name </a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-sm-4 col-md-4">
            <div class="post">
               <div class="post-img-content">
               </div>
               <div class="content">
                  <div>
                     <a href=""> Dashboard by designer name </a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-sm-4 col-md-4">
            <div class="post">
               <div class="post-img-content">
               </div>
            </div>
         </div>
      </div>
      <!-- row -->
      <div class="row">
         <div class="col-sm-4 col-md-4">
            <div class="post">
               <div class="post-img-content">
               </div>
               <div class="content">
                  <div>
                     <a href=""> Onboarding by designer name </a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-sm-4 col-md-4">
            <div class="post">
               <div class="post-img-content">
               </div>
               <div class="content">
                  <div>
                     <a href=""> Signup page by designer name </a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-sm-4 col-md-4">
            <div class="post">
               <div class="post-img-content">
               </div>
               <div class="content">
                  <div>
                     <a href=""> Notification by designer name </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- row -->
      <div class="row">
         <div class="col-sm-4 col-md-4">
            <div class="post">
               <div class="post-img-content">
               </div>
               <div class="content">
                  <div>
                     <a href=""> Dropdown by designer name </a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-sm-4 col-md-4">
            <div class="post">
               <div class="post-img-content">
               </div>
               <div class="content">
                  <div>
                     <a href=""> Statistics by designer name </a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-sm-4 col-md-4">
            <div class="post">
               <div class="post-img-content">
               </div>
               <div class="content">
                  <div>
                     <a href=""> Image Slider by designer name </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- row -->
      <div class="custom-pagination text-center ">
         <ul class="pagination pagination-large">
            <li class="active"><span>1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><span>...</span></li>
            <li>
            <li><a href="#">236</a></li>
            <li><a rel="next" href="#"> <i class="fa fa-long-arrow-right"></i> </a></li>
         </ul>
      </div>
  </div>
  <!-- container -->
</div>