<div class="all-categories">
  <div class="container">
      <h2 class="text-center mt50"><strong>Handpicked UI inspiration</strong></h2>
      <%= render "/layouts/alerts" %>
      <br />
      <div class="pull-left">
         <h4>All Categories(6195)</h4>
      </div>
      <div class="pull-right">
         <div class="dropdown">
            <button class="btn btn-default dropdown-toggle custombtn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Latest items
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
               <li><a href="#">Action</a></li>
               <li><a href="#">Another</a></li>
               <li><a href="#">Something</a></li>
            </ul>
         </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <% @items.each do |item| %>
          <div class="col-sm-4 col-md-4">
              <div class="post">
                <div class="post-img-content">
                    <%= image_tag item.image_url %>
                    <span class="post-title"><b>+</b></span>
                </div>
                <div class="content">
                    <div>
                      <%= link_to item.title,item %>
                    </div>
                </div>
              </div>
          </div>
        <% end %>
        
        
      </div>
      
      <!-- row -->
      <div class="custom-pagination text-center ">
         <ul class="pagination pagination-large">
            <li class="active"><span>1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><span>...</span></li>
            <li>
            <li><a href="#">236</a></li>
            <li><a rel="next" href="#"> <i class="fa fa-long-arrow-right"></i> </a></li>
         </ul>
      </div>
  </div>
  <!-- container -->
</div>