@font-face {
    font-family: 'Montserrat-Regular';
    src: url(fontfamily/Montserrat-Regular.ttf);
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url(fontfamily/Montserrat-Medium.ttf);
}
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url(fontfamily/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url(fontfamily/Montserrat-Bold.ttf);
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat-Regular';
    background: #F7F7F7;
}
/*********** Header ******/

.mynav {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #1A1A1A;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
}
.mynav .navbar-nav li a {
    color: #919191 !important;
}
.mynav .navbar-brand {
    color: #fff !important;
}
.stylish-input-group .input-group-addon {
    background: #2E2E2E !important;
}
.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border: 0;
    color: #7A918C !important;
    background: #2E2E2E;
}
.stylish-input-group button {
    border: 0;
    background: transparent;
}
.stylish-input-group .input-group-addon {
    border: 0 !important;
}
.nav > li.dropdown.open {
    position: static;
}
.nav > li.dropdown.open .dropdown-menu {
    display: table;
    border-radius: 0px;
    width: 75%;
    margin: auto;
    left: 0;
    right: 0;
    background: #1A1A1A;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 100px;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background: none !important;
}
.nav .dropdown-menu > li {
    width: 150px;
    text-align: center;
}
.nav .dropdown-menu > li a {
    background: #2E2E2E;
    display: block;
    margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
    .navbar-nav .dropdown-menu > li {
        display: block;
    }
}
/******** Login ***********/

.loginArera {
    padding-top: 30px;
    padding-bottom: 30px;
}
.blueline {
    background: #1C9EE1;
    width: 50px;
    height: 3px;
    //border-radius: 5px;
    margin: 10px auto;
    margin-bottom: 20px;
}
.loginArera label {
    color: #807878;
}
.loginArera .form-control {
    border-radius: 0;
    border: 1px solid #CECECE;
}
.loginArera .btn {
    border-radius: 0;
    padding: 4px 20px;
    background: #1C9EE1;
    margin-top: -15px;
    margin-right: 15px;
}
/******* Categories *******/

.custombtn {
    border-radius: 0;
    background: #ECECEC;
    padding: 5px 12px;
    border: 0;
}
.post {
    background-color: #FFF;
    overflow: hidden;
    box-shadow: 0 0 3px #CCC;
    margin-bottom: 20px;
    border-radius: 2px;
}
.post .content {
    padding: 10px;
    text-align: center;
}
.post .post-img-content {
    height: 196px;
    position: relative;
    background: #ECECEC;
}
.post .post-img-content img {
    position: absolute;
}
.post .post-title {
    display: table-cell;
    vertical-align: bottom;
    z-index: 2;
    position: relative;
}
.post .post-title b {
    background-color: #1A1A1A;
    display: inline-block;
    margin-bottom: 5px;
    color: #FFF;
    border-radius: 2px;
    padding: 10px 15px;
}
.post .content a {
    color: #323232;
    font-size: 12px;
}
.custom-pagination .pagination>li {
    display: inline-block;
    margin-right: 2px;
}
.custom-pagination .pagination>li:first-child>a,
.pagination>li:first-child>span {
    border-radius: 2px !important;
}
.custom-pagination .pagination>li>a,
.pagination>li>span {
    padding: 12px 19px;
    background: #ECECEC;
    border: 0;
    color: #323232;
    font-weight: bold;
}
.custom-pagination .pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #1A1A1A;
    border-color: #1A1A1A;
}
.view-category {
    height: 450px;
    background: #ECECEC;
    border-radius: 4px;
}
.closeicon {
    font-size: 20px !important;
    color: #333333;
}
.saveBtn {
    background: #1A1A1A;
    border: 0;
    color: #fff;
    padding: 10px 34px;
    font-weight: bold;
}
.view-dribble {
    color: #323232;
    font-size: 14px;
}
.btn-fb {
    background: #ECECEC;
    border: 0;
    color: #323232;
    padding: 10px 34px;
    font-weight: bold;
}
.btn-twitter {
    background: #ECECEC;
    border: 0;
    color: #323232;
    padding: 10px 34px;
    font-weight: bold;
}
.copyrights {
    padding-top: 10px;
    padding-bottom: 10px;
}
.copyrights p {
    color: #323232;
}
/************ Extras ***********/

.btnStyle {
    transform: translateZ(0) !important;
    backface-visibility: hidden !important;
    transition: 300ms ease-out !important;
}
.btnStyle:hover {
    transform: scale(0.9) !important;
}
.btnStyle2 {
    transform: translateZ(0) !important;
    backface-visibility: hidden !important;
    transition: 300ms ease-out !important;
}
.btnStyle2:hover {
    transform: scale(1.1) !important;
}
.montserratReg {
    font-family: 'Montserrat-Regular';
}
.montserratMed {
    font-family: 'Montserrat-Medium';
}
.montserratSbold {
    font-family: 'Montserrat-SemiBold';
}
.montserratBold {
    font-family: 'Montserrat-Bold';
}
.ml5 {
    margin-left: 5px !important;
}
.ml7 {
    margin-left: 7px !important;
}
.ml10 {
    margin-left: 10px;
}
.ml15 {
    margin-left: 15px;
}
.ml20 {
    margin-left: 20px;
}
.ml30 {
    margin-left: 30px;
}
.ml40 {
    margin-left: 40px;
}
.ml50 {
    margin-left: 50px;
}
.ml100 {
    margin-left: 100px;
}
.mb5 {
    margin-bottom: 5px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb15 {
    margin-bottom: 15px;
}
.mb20 {
    margin-bottom: 20px;
}
.mb30 {
    margin-bottom: 30px;
}
.mb40 {
    margin-bottom: 40px;
}
.mb100 {
    margin-bottom: 100px;
}
.mb150 {
    margin-bottom: 150px;
}
.mt5 {
    margin-top: 5px;
}
.mt10 {
    margin-top: 10px;
}
.mt15 {
    margin-top: 15px;
}
.mt20 {
    margin-top: 20px;
}
.mt30 {
    margin-top: 30px;
}
.mt40 {
    margin-top: 40px;
}
.mt50 {
    margin-top: 50px;
}
.mt60 {
    margin-top: 60px;
}
.mt70 {
    margin-top: 70px;
}
.mt80 {
    margin-top: 80px;
}
.mt100 {
    margin-top: 100px;
}
.mt-10 {
    margin-top: -10px;
}
.mt-20 {
    margin-top: -20px;
}
.mt-30 {
    margin-top: -30px;
}
.mt-40 {
    margin-top: -40px;
}
.mt-50 {
    margin-top: -50px;
}
.pt5 {
    padding-top: 5px;
}
.pt10 {
    padding-top: 10px;
}
.pt15 {
    padding-top: 15px;
}
.pt20 {
    padding-top: 20px;
}
.pt30 {
    padding-top: 30px;
}
/********* font-size **********/

.fbold {
    font-weight: 600;
}
.f11 {
    font-size: 11px;
}
.f12 {
    font-size: 12px;
}
.f13 {
    font-size: 13px;
}
.f14 {
    font-size: 14px !important;
}
.f15 {
    font-size: 15px;
}
.f16 {
    font-size: 16px;
}
.f17 {
    font-size: 17px;
}
.f18 {
    font-size: 18px;
}
.f19 {
    font-size: 19px;
}
.f20 {
    font-size: 20px;
}
.white {
    color: #fff !important;
}
.whiteMontbold {
    color: #fff;
    font-weight: bold;
}
.post-img-content img{ height: 196px;max-width: 100%; }
/*********** Media ************/

@media only screen and (max-width: 767px) {
    .logo {
        margin-left: 15px;
    }
    .mynav .navbar-right,
    .mynav .navbar-nav {
        text-align: center !important;
    }
    .navbar-toggle .icon-bar {
        width: 22px;
        transition: all 0.2s;
    }
    .navbar-toggle .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
    }
    .navbar-toggle .middle-bar {
        opacity: 0;
    }
    .navbar-toggle .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
    }
    .navbar-toggle.collapsed .top-bar {
        transform: rotate(0);
    }
    .navbar-toggle.collapsed .middle-bar {
        opacity: 1;
    }
    .navbar-toggle.collapsed .bottom-bar {
        transform: rotate(0);
    }
    .mynav .navbar-toggle {
        background: none !important;
        border: 0 !important;
    }
    .mynav .icon-bar {
        background: #ECECEC !important;
    }
    .nav > li.dropdown.open .dropdown-menu {
        width: auto;
        padding-bottom: 0px;
    }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border: 0;
        box-shadow: none !important;
    }
    .saveBtn {
        margin-top: 15px;
    }
    .all-categories h2 {
        font-size: 20px !important;
    }
    .all-categories h4 {
        font-size: 16px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .btn-fb,
    .btn-twitter {
        width: 140px;
        margin-bottom: 10px;
    }
}